@import 'tailwindcss';
@plugin "daisyui" {
	themes:
		wireframe,
		cyberpunk,
		retro,
		valentine,
		black,
		dracula --prefersdark;
}

@plugin "daisyui/theme" {
	name: 'sky';
	default: false;
	prefersdark: false;
	default: true;
	color-scheme: 'light';
	--color-base-100: oklch(97% 0.014 254.604);
	--color-base-200: oklch(93% 0.032 255.585);
	--color-base-300: oklch(88% 0.059 254.128);
	--color-base-content: oklch(37% 0.146 265.522);
	--color-primary: oklch(68% 0.162 75.834);
	--color-primary-content: oklch(98% 0.026 102.212);
	--color-secondary: oklch(64% 0.2 131.684);
	--color-secondary-content: oklch(98% 0.031 120.757);
	--color-accent: oklch(57% 0.245 27.325);
	--color-accent-content: oklch(97% 0.013 17.38);
	--color-neutral: oklch(48% 0.243 264.376);
	--color-neutral-content: oklch(97% 0.014 254.604);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(77% 0.152 181.912);
	--color-success-content: oklch(27% 0.046 192.524);
	--color-warning: oklch(85% 0.199 91.936);
	--color-warning-content: oklch(28% 0.066 53.813);
	--color-error: oklch(70% 0.191 22.216);
	--color-error-content: oklch(25% 0.092 26.042);
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 1;
}

html,
body {
	height: 80%;
	@apply bg-(--color-base-200);
}
